<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片转换</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="nav-container">
        <nav>
            <input class="nav-item origin" type="radio" name="radio" id="origin" checked></input>
            <label for="origin">原图</label>

            <input class="nav-item edge" type="radio" name="radio" id="edge"></input>
            <label for="edge">线稿提取</label>

            <input class="nav-item line" type="radio" name="radio" id="line"></input>
            <label for="line">线条化</label>

            <input class="nav-item dot" type="radio" name="radio" id="dot"></input>
            <label for="dot">点化</label>

            <input class="nav-item combine" type="radio" name="radio" id="combine"></input>
            <label for="combine">合并</label>
        </nav>
    </div>
    <div id="parameter-box">
        <form id="upload-form">
            <input type="file" id="image-input" accept=".png, .jpg, .jpeg" />
        <button type="submit">上传</button>
    </form>
    </div>
    <div id="image-container">
        <img id="image-shower" src="./get_image" alt="原图">
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/startPage.js') }}"></script>
</body>

</html>